---
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BASSCSS</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Simple, responsive CSS/SASS toolkit based on OOCSS principles">
  <meta name="keywords" content="CSS, SASS, OOCSS, framework, boilerplate, minimal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="basscss.css" />
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,400italic,600" rel="stylesheet">
  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
</head>
<body>


  <nav class="measure-wide wrap px-responsive">
    {% include _nav.html %}
  </nav>

    <main class="px-responsive py-responsive js-baseline js-outline">

    <section class="measure-wide wrap py-responsive">
      <h2 class="h2 bold mb2">Hybrid - Furniture for small spaces</h2>
      <p class="h3 mb2">BASSCSS is a lightweight collection of base styles and simple type and layout utilities designed for speed, performance, and scalability. Use it out of the box for simple sites and prototypes or as the base for a larger SASS project.</p>
    </section>

    <div class="measure-wide wrap py-responsive">
    <img src="http://jochenmariaweber.de/pics/geoffrey/2.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/3.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/2_5.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/3_5.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/3_5_5.jpg" class="mb1 fit">
    <p class="p mb1">PROCESS</p>
    <img src="http://jochenmariaweber.de/pics/geoffrey/1.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/4.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/persona.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/5.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/9.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/6.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/7.jpg" class="mb1 fit">
    <img src="http://jochenmariaweber.de/pics/geoffrey/8.jpg" class="mb1 fit">
    </div>

    </main>


  {% include _footer.html %}

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

</body>
</html>
